.login-image1{
    margin: 10% 0% 0% 5%;
    width: 40%;
    height: 40%;
    opacity: 1;
}

.login-div{
    float: right;
    position: relative;
    margin: 10% 10% 0 0;
    width:35%;
    height: 35%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    text-align: center;
}


.login-image2{
    padding-top: 15%;
    margin:auto;
    width: 40%;
    height: 50%;

}

#p1{
    font: Regular  Segoe UI;
    font-size: x-large;
    padding-bottom: 5% ;
    color: #707070;

}

#p2{
    text-align: left;
    font: Regular  Segoe UI;
    font-size: x-large;
    color: #4A69BB;

}



.btn{
    box-shadow: 0px 3px 6px #00000029;  
    margin-bottom: 8%;
    height: 4em;
}
