
       
<img  class="login-image1" src="\assets\login-pic.png" alt="" >
<div class="login-div">
        <img class="login-image2" src="\assets\component.png" alt="">
        <p id="p1" >To Plan & Do Works</p>
        <button type="button" class="btn btn-primary-outline"><p id="p2">Login With <img src="\assets\google.png"></p></button>
</div>

            
           
