.container1{
    margin-top: 5%;
    height: 120px;;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px;
    }
    
    #deleted-tasks{ 
        margin:3% 0 0 2%;
        font: Regular 40px/53px Segoe UI;
        background-color: #4A69BB;
        color:#FFFFFF;
        border-radius: 25px;
    }
    
.taskbutton{
    border-radius: 50%;
    width:3%;
    height:30%;
    margin: 3% 5% 0 0;
    float: right;
    padding: 0% 0% 0% 0% ;
    box-shadow: none;
}

    #back{
       border-radius: 25px;
        height:40%;
        float: right;
        margin: 3% 3% 0 0;
        background-color: #707070;
        color: #FFFFFF;
    }
    
    .card{
     box-shadow: 0px 3px 6px #00000029;
    float: left;
    margin:3% 1%;
    width: 30%;
    
    }
    
   
    
    #p1{
    text-align: left;
    
    font: Regular 23px/31px Segoe UI;
    color: #707070;
    }
    
    #p2{
    text-align: left;
    font: Regular 50px/40px Segoe UI;
    font-size: 20px;
    color: #4A69BB;
    padding-bottom: 15%;
    
    }
    
    #delete-pic{
        float:left;
        
    }
    
    #recycle-pic{
        float: right;
        
    }
