<!--delete tab-->
        <div class="container container1 ">
            <button type="button" class="btn btn-lg " id="deleted-tasks">Deleted Tasks</button>
            <button type="button" class="btn btn-lg " id="back">Back</button>

        </div>

        <div class="container container2">
<!-- multiple todos as cards-->
            <div class="card card-body col-md-4 ">
                <p id="p1">Payments </p>
                <p id="p2" >Pay credit card bills</p>
                <div>
                <a href="" data-toggle="modal" data-target="#delete-modal"><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/recycle.png" alt="recycle" id="recycle-pic"></a>
                </div>

            </div>
            <div class="card card-body col-md-4 ">
                <p id="p1">Payments </p>
                <p id="p2">Pay credit card bills</p>
                <div >
                <a href="" data-toggle="modal" data-target="#delete-modal"><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/recycle.png" alt="recycle" id="recycle-pic"></a>
                </div>
            
            </div>
            <div class="card card-body col-md-4">
                <p id="p1">Payments </p>
                <p id="p2">Pay credit card bills</p>
                <div>
                <a href="" data-toggle="modal" data-target="#delete-modal"><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/recycle.png" alt="recycle" id="recycle-pic"></a>
                </div>
            </div>

            <div class="card card-body col-md-4 ">
                <p id="p1">Payments </p>
                <p id="p2">Pay credit card bills</p>
                <div>
                <a href="" ><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/recycle.png" alt="recycle" id="recycle-pic"></a>
                </div>
            </div>

            <div class="card card-body col-md-4">
                <p id="p1">Payments </p>
                <p id="p2">Pay credit card bills</p>
                <div>
                <a href="" ><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/recycle.png" alt="recycle" id="recycle-pic"></a>
                </div>
            </div>

            <div class="card card-body col-md-4" >
                <p id="p1">Payments </p>
                <p id="p2">Pay credit card bills</p>
                <div>
                <a href="" ><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/recycle.png" alt="recycle" id="recycle-pic"></a>
                </div>
            </div>

        </div>


        
        <!--delete-modal-->
                
        <div class="container">
            <!-- The Modal -->
            <div class="modal" id="delete-modal">
            <div class="modal-dialog center">
                <div class="modal-content  ">
                 <!-- Modal Header -->
                <div class="modal-header border-0">
                    <h4 class="modal-title text-primary">Warning!</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body border-0 row">
                    <div class="col-md-6">
                        <p style="font-weight: 500;padding: 15% 0% 15% 10%; color:#4C4C4D;font-size: large;">This task will be <span style="color: #4A69BB; font-weight: 500;">Permanently deleted,</span>
                        Are you sure that you want to go through with it?</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/trash.png" alt="delete0-pic" style="float:left;right: 0px;">
                    </div>
                    
                    
                </div>
                <!-- Modal footer -->
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-primary" style="border-radius: 25px;" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-secondary" style="border-radius: 25px;" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
            </div>
        </div>
        
