

<!--dashboard tab with new task todo-->
        <div class="container container1 ">
            <button type="button" class="btn btn-lg  " id="dashboard">Dashboard</button>
            <a href="#" data-toggle="modal" data-target="#task-modal"><img id="plus" src="/assets/plus-icon.png" alt=""></a>
        </div>

        <div class="container container2">
<!--edit todo button with cards as multiple todos-->
            <div class="card card-body col-md-4 ">
                <p id="p1">Payments <a href="" data-toggle="modal" data-target="#edit-modal" ><img  src="/assets/edit.png" alt="edit" id="edit-pic"></a></p>
                <p id="p2" >Pay credit card bills</p>
                <div>
                <a href="" ><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/ok.png" alt="ok" id="ok-pic"></a>
                </div>

            </div>
            <!--edit todo button-->
            <div class="card card-body col-md-4 ">
                <p id="p1">Payments <a href="" data-toggle="modal" data-target="#edit-modal" ><img  src="/assets/edit.png" alt="edit" id="edit-pic"></a></p>
                <p id="p2">Pay credit card bills</p>
                <div >
                <a href="" ><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/ok.png" alt="ok" id="ok-pic"></a>
                </div>
            
            </div>
            <!--edit todo button-->
            <div class="card card-body col-md-4">
                <p id="p1">Payments <a href="" data-toggle="modal" data-target="#edit-modal" ><img  src="/assets/edit.png" alt="edit" id="edit-pic"></a></p>
                <p id="p2">Pay credit card bills</p>
                <div>
                <a href="" ><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/ok.png" alt="ok" id="ok-pic"></a>
                </div>
            </div>
<!--edit todo button-->
            <div class="card card-body col-md-4 ">
                <p id="p1">Payments <a href="" data-toggle="modal" data-target="#edit-modal" ><img  src="/assets/edit.png" alt="edit" id="edit-pic"></a></p>
                <p id="p2">Pay credit card bills</p>
                <div>
                <a href="" ><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/ok.png" alt="ok" id="ok-pic"></a>
                </div>
            </div>
<!--edit todo button-->
            <div class="card card-body col-md-4">
                <p id="p1">Payments <a href="" data-toggle="modal" data-target="#edit-modal" ><img  src="/assets/edit.png" alt="edit" id="edit-pic"></a></p>
                <p id="p2">Pay credit card bills</p>
                <div>
                <a href="" ><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/ok.png" alt="ok" id="ok-pic"></a>
                </div>
            </div>
<!--edit todo button-->
            <div class="card card-body col-md-4" >
                <p id="p1">Payments <a href="" ><img  src="/assets/edit.png" alt="edit" id="edit-pic"></a></p>
                <p id="p2">Pay credit card bills</p>
                <div>
                <a href="" ><img  src="/assets/delete.png" alt="delete" id="delete-pic"></a>
                <a href="" ><img  src="/assets/ok.png" alt="ok" id="ok-pic"></a>
                </div>
            </div>

        </div>




        <!--task modal-->
                
        <div class="container">
            <!-- The Modal -->
            <div class="modal" id="task-modal">
            <div class="modal-dialog center">
                <div class="modal-content  ">
                 <!-- Modal Header -->
                <div class="modal-header border-0">
                    <h4 class="modal-title text-primary">Task Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body border-0">
                    <form>
                        <label for="text" class="text-secondary" style="font-weight: 550;" > Title</label>
                        <input type="text" class="form-control border-secondary"  id="textfield1" ><br>
                        <label class="text-secondary" style="font-weight: 550;">Description</label>
                        <textarea class="form-control border-secondary " id="textfield2" rows="3" style="resize: none;"></textarea>
                        </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-primary" style="border-radius: 25px;" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-secondary" style="border-radius: 25px;" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
            </div>
        </div>
        


        <!--edit-modal-->
                
        <div class="container">
            <!-- The Modal -->
            <div class="modal" id="edit-modal">
            <div class="modal-dialog ">
                <div class="modal-content  ">
                 <!-- Modal Header -->
                <div class="modal-header border-0">
                    <h4 class="modal-title text-primary">Edit Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body border-0">
                    <form>
                        <label for="text" class="text-secondary" style="font-weight: 550;" > Title</label>
                        <input type="text" class="form-control border-secondary" placeholder="Payment" id="textfield1" ><br>
                        <label class="text-secondary" style="font-weight: 550;">Description</label>
                        <textarea class="form-control border-secondary text-primary " id="textfield2" rows="3" style="resize: none;" >Pay credit card bills</textarea>
                        </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-primary" style="border-radius: 25px;" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-secondary" style="border-radius: 25px;" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
            </div>
        </div>
        
